$base-color: #fe0000;
$important-color: darken($base-color, 10%);
$warning-color: lighten($base-color, 40%);
$main-font: Arial, Helvetica, sans-serif;
$secondary-font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$border-radius: 0px;
$box-shadow: -8px 8px 8px 2px #737171;
